.login {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;

  &:before {
    background-image: url('../../assets/images/code.jpeg');
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -999;
  }
}

.textBox {
  color: #ffffff!important;
  width: 500px;
  position: absolute;
  top: 46%;
  left: 20%;
  transform: translate(-20%, -46%);
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  animation: fadeLeft 1s;

  & h2 {
    line-height: 30px;
    font-weight: 100;
    color: #ffffff!important;
  }

  & p {
    font-size: 14px;
    line-height: 20px;
  }
}

.loginBox {
  background-color: #fff;
  margin-left: auto;
  margin-right: 100px;
  padding: 43px 43px 15px 43px;
  font-size: 17px;
  border-radius: 14px;
  animation: fadeRight 1s;
  .ant-tabs{
    width :300px;
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -46%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-20%, -46%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}