.search-wrapper{
    background: #ffffff;
    width :100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .search-item{
        flex:0 0 17vw;
        margin:20px;
        .ant-select,.ant-calendar-picker{
            width: 100%;
        }
        &:last-child{
            button{
                margin: 0 5px;
            }
        }
    }
}