.fileUpload {
  padding: 20px;
  position: relative;

  .block {
    text-align: right;
    margin-top: 50px;
  }
}
.ant-table-wrapper{
    background: #ffffff;    
    padding: 20px;
}

.uploadFileDetail {
  margin : 20px;
  background: #fff;

  .back_btn {
    padding: 20px;
    button{
      float: right;
    }
  }
}