.vUpload {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 20px;

  .vUpload-progress {
    flex: 1;
  }

  .vUpload-button {
    flex: 0 0 200px;
    text-align: right;
  }
}