.account {
  padding: 20px;
  font-size: 14px;
  display: flex;
  background: #ffffff;
  margin: 20px;
}

.account-left, .account-right {
  flex: 1;
  margin: 0 20px;

  & .account-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
  }
}

.account-content {
  color: #606266;
  font-size: 14px;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.inputClass {
  height: 28px;
  line-height: 28px;
}

.el-input {
  width: 193px;
}

.switchClass {
  height: 20px;
  line-height: 20px;
}